node_modules/
.expo/
node_modules
package-lock.json
.vscode/
.prettierignore
.prettierrc
yarn-error.log
.gitignore
.expo-shared
yarn.lock
app.json
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
